.divContenedorCard {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.divContenedorCard:hover {
  background-color: rgba(66, 61, 117, 0.521);
  /* background-color: rgb(4, 4, 61); */
  opacity: 90%;
}

.divContenedorCard img {
  border-radius: 20%;
  height: 250px;
  width: 250px;
}

.imageContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttonStyle {
  display: flex;
  justify-content: flex-end;
}

.buttonsFavoritesAndClose {
  display: flex;
  justify-content: space-between;
}
