/* ErrorPage.module.css */
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: red;
}

.errorImage {
  max-width: 300px;
  margin-bottom: 20px;
}

.errorMessage {
  font-size: 24px;
  margin-bottom: 10px;
}

.errorDescription {
  font-size: 16px;
  text-align: center;
}
