.divContenedorCard {
  font-size: 10px;
}

img {
  border-radius: 20%;
  height: 250px;
  width: 250px;
}

.imageContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttonStyle {
  display: flex;
  justify-content: flex-end;
}
