.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 90%;
}

.errorImage {
  width: 500px;
  height: 500px;
}
.errorMessage {
  color: antiquewhite;
}
.errorDescription {
  color: antiquewhite;
}
