.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: start;
  color: cornsilk;
  margin: 10px;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(4, 4, 61);

  opacity: 0.75;
  /* white-space: normal; */
  /* min-height: 100vh; */
}
